.control-widget {
  display: flex;
  flex-direction: column;
  gap: .1rem;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #000f14;
}

.control-widget div {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.2rem;
}

.control-widget div1 {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.2rem;
}

.control-widget div3 {
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 0.2rem;
}

.control-widget label {
  font-weight: bold;
  width: 3rem;
}

.control-widget input[type="number"] {
  padding: 0.3rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #01617e;
  border: none;
  text-decoration: none;
  text-align: left;
}

.control-widget input[type="checkbox"] {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

/* Make checkbox a flat, sharp square */
.control-widget input[type="checkbox"] {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
  /* border: 2px solid #01617e; */
  border-radius: 0px;
  background-color: white;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: background-color 0.2s ease-in-out;
}

/* Checkbox checked appearance */
.control-widget input[type="checkbox"]:checked {
  background-color: #a75000;
  /* border-color: #01617e; */
}

/* Checkbox checked appearance */
.control-widget input[type="checkbox"]:hover {
  background-color: #a75000;
}


.control-widget select {
  padding: 0.3rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #01617e;
  border: none;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}

/* .control-widget select {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  color: white;
  background-color: #01617e;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
} */
/* Optional: hover effect for dropdown */
.control-widget select:hover {
  background-color: #a75000;
  /* border-color: #0286a3; */
}



.control-widget input[type="range"] {
  appearance: none;
  height: 5px; 
  background: #023b4d; 
  flex-grow: 1;
  cursor: pointer;
}

.control-widget input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #ffffff;
  cursor: pointer;
}

.control-widget button {
  padding: 0.3rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #01617e;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  float: right;
}

.control-widget button:hover {
  padding: 0.3rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #a75000;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  float: right;
}

div.jp-OutputArea-output {
  background-color: #000f14 !important;
  /* border-radius: 12px; */
  padding: 16px;
  /* color: white; */
}
